PORT=Порт сервера (по умолчанию - 8080)
POSTGRES_USER=имя пользователя БД
POSTGRES_PASSWORD=пароль пользователя БД
POSTGRES_DB=имя БД
POSTGRES_PORT=5433
POSTGRES_HOST=хост БД
GOOSE_DRIVER=драйвер БД для goose
GOOSE_DBSTRING=DSN (адрес) БД для goose 
GOOSE_MIGRATION_DIR=папка миграций для goose