COURIER_PORT=внешний порт сервера (используется в docker)
COURIER_LOCALPORT=локальный порт сервера (по умолчанию - 8080)

POSTGRES_USER=имя пользователя БД
POSTGRES_PASSWORD=пароль пользователя БД
POSTGRES_DB=имя БД

POSTGRES_PORT=внешний порт БД (используется в docker)
POSTGRES_HOST=хост БД
POSTGRES_LOCALPORT=локальный порт БД

GOOSE_DRIVER=драйвер БД для goose
GOOSE_DBSTRING=DSN БД для goose 
GOOSE_MIGRATION_DIR=папка миграций для goose

ORDER_SERVICE_HOST=хост сервиса доставок

TIME_CHECK=период проверки доставок,
          формат: df, где d - число, f - формат времени (s - сек, m - мин, h - час), 
          например: 10s - 10 секунд

TIME_POLL=период получения новых заказов