COURIER_HOST=хост сервиса доставок (по умолчанию - localhost)
COURIER_PORT=внешний порт сервиса доставок (используется в docker)
COURIER_LOCALPORT=порт сервиса доставок (по умолчанию - 8080)

ORDER_HOST=хост сервиса заказов
ORDER_GRPC_PORT=порт grpc сервера сервиса заказов

POSTGRES_USER=имя пользователя БД
POSTGRES_PASSWORD=пароль пользователя БД
POSTGRES_DB=имя БД

POSTGRES_HOST=хост БД
POSTGRES_LOCALPORT=порт БД
POSTGRES_PORT=внешний порт БД (используется в docker)

GOOSE_DRIVER=драйвер БД для goose
GOOSE_DBSTRING=DSN БД для goose 
GOOSE_MIGRATION_DIR=папка миграций для goose

KAFKA_HOST=хост брокера сообщений Kafka
KAFKA_PORT=порт брокера сообщений Kafka

KAFKA_TOPIC=обрабтываемый топик брокера сообщений Kafka
CONSUMER_GROUP=консьюмерская группа

PROMETHEUS_HOST=хост prometheus (по умолчанию - localhost)
PROMETHEUS_PORT=внешний порт prometheus (используется в docker)
PROMETHEUS_LOCALPORT=порт prometheus (по умолчанию - 9090)

GRAFANA_PORT=внешний порт grafana (используется в docker)
GRAFANA_LOCALPORT=порт grafana (по умолчанию - 3030)

COMMIT_INTERVAL=период автоматического коммита offest,
                формат: df, где d - число, f - формат времени (s - сек, m - мин, h - час), 
                например: 10s - 10 секунд
                
TIME_CHECK=период проверки доставок,
          формат: df, где d - число, f - формат времени (s - сек, m - мин, h - час), 
          например: 10s - 10 секунд

TIME_POLL=период получения новых заказов,
          формат: df, где d - число, f - формат времени (s - сек, m - мин, h - час), 
          например: 10s - 10 секунд
