CONSUMER_HOST=хост сервиса consumer
CONSUMER_PORT=внешний порт сервиса consumer
CONSUMER_LOCALHOST=хост сервиса consumer, с которого будут приниматься запросы (по умолчанию - localhost)
CONSUMER_LOCALPORT=порт сервиса consumer

ORDER_HOST=хост сервиса заказов
ORDER_GRPC_PORT=порт grpc сервера сервиса заказов

POSTGRES_USER=имя пользователя БД
POSTGRES_PASSWORD=пароль пользователя БД
POSTGRES_DB=имя БД

POSTGRES_HOST=хост БД
POSTGRES_LOCALPORT=порт БД

KAFKA_HOST=хост брокера сообщений Kafka
KAFKA_PORT=порт брокера сообщений Kafka

KAFKA_TOPIC=обрабтываемый топик брокера сообщений Kafka

CONSUMER_GROUP=консьюмерская группа

COMMIT_INTERVAL=период автоматического коммита offest,
                формат: df, где d - число, f - формат времени (s - сек, m - мин, h - час), 
                например: 10s - 10 секунд

MAX_ATTEMPTS=максимальное кол-во попыток для retry
MULTIPLIER=основание экспоненциальной функции
JITTER=коэффициент отклонения от ожидания
INIT_DELAY=начальное время ожидания
                формат: df, где d - число, f - формат времени (s - сек, m - мин, h - час), 
                например: 10s - 10 секунд
MAX_DELAY=максимальное время ожидания
                формат: df, где d - число, f - формат времени (s - сек, m - мин, h - час), 
                например: 10s - 10 секунд