COURIER_PORT=внешний порт сервиса доставок (используется в docker)
COURIER_LOCALPORT=порт сервиса доставок (по умолчанию - 8080)

ORDER_HOST=хост сервиса заказов
ORDER_GRPC_PORT=порт grpc сервера сервиса заказов

POSTGRES_USER=имя пользователя БД
POSTGRES_PASSWORD=пароль пользователя БД
POSTGRES_DB=имя БД

POSTGRES_HOST=хост БД
POSTGRES_LOCALPORT=порт БД
POSTGRES_PORT=внешний порт БД (используется в docker)

TIME_CHECK=период проверки доставок,
          формат: df, где d - число, f - формат времени (s - сек, m - мин, h - час), 
          например: 10s - 10 секунд

TIME_POLL=период получения новых заказов,
          формат: df, где d - число, f - формат времени (s - сек, m - мин, h - час), 
          например: 10s - 10 секунд

REFILL=период пополнения token rate-limiter,
                формат: df, где d - число, f - формат времени (s - сек, m - мин, h - час), 
                например: 10s - 10 секунд

LIMIT=максимальное кол-во токенов в bucket rate-limiter
