COURIER_HOST=хост сервиса доставок (по умолчанию - localhost)

PROMETHEUS_HOST=хост prometheus (по умолчанию - localhost)
PROMETHEUS_PORT=внешний порт prometheus (используется в docker)
PROMETHEUS_LOCALPORT=порт prometheus (по умолчанию - 9090)

GRAFANA_PORT=внешний порт grafana (используется в docker)
GRAFANA_LOCALPORT=порт grafana (по умолчанию - 3030)